* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.formdiv {
    background-color: #242423;
    position: relative;
    margin: auto;
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    border-left: 10px solid rgba(119, 255, 148, .8);
}

.formdiv-heading {
    text-align: center;
    color: #ff9477;
    border-bottom: 2px solid #E8EDDF;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 10px;
}

.formdiv label {
    color: #E8EDDF;
    display: block;
    margin: 0px 0px 15px 0px;
}

.formdiv label>span {
    color: #E8EDDF;
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.formdiv span.required {
    color: red;
}

.formdiv .tel-number-field {
    width: 40px;
    text-align: center;
}

.formdiv input.input-field {
    width: 48%;
}

.formdiv input.input-field,
.formdiv .tel-number-field,
.formdiv .textarea-field,
.formdiv .select-field {
    color: #E8EDDF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: 2px solid rgba(119, 255, 148, .8);
    box-shadow: 1px 1px 4px rgba(119, 255, 148, .3);
    -moz-box-shadow: 1px 1px 4px rgba(119, 255, 148, .3);
    -webkit-box-shadow: 1px 1px 4px rgba(119, 255, 148, .3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

option {
    background-color: #333232;
    color: #E8EDDF;
}

.formdiv .input-field:focus,
.formdiv .tel-number-field:focus,
.formdiv .textarea-field:focus,
.formdiv .select-field:focus {
    border-left: 2px solid rgba(255, 148, 119, .8);
    transition-duration: 300ms;
    transition-timing-function: ease;
    box-shadow: 1px 1px 4px rgba(255, 148, 119, .5);
    -moz-box-shadow: 1px 1px 4px rgba(255, 148, 119, .5);
    -webkit-box-shadow: 1px 1px 4px rgba(255, 148, 119, .5);
}
select.select-field option:hover {
  box-shadow: 0 0 10px 100px #ff9477 inset;
  color: #242423;
}

.select-field::-webkit-scrollbar {
  display: none;
}
.formdiv .textarea-field {
    height: 100px;
    width: 55%;
}

.formdiv input[type=submit],
.formdiv input[type=button] {
    transition-duration: 300ms;
    transition-timing-function: ease;
    cursor: pointer;
    border: none;
    padding: 8px 15px 8px 15px;
    margin-left: 105px;
    background: #77FF94;
    color: #242423;
    box-shadow: 1px 1px 4px rgba(119, 255, 148, .3);
    -moz-box-shadow: 1px 1px 4px rgba(119, 255, 148, .3);
    -webkit-box-shadow: 1px 1px 4px rgba(119, 255, 148, .3);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.formdiv input[type=submit]:hover,
.formdiv input[type=button]:hover {
    background: #ff9477;
    transition-duration: 300ms;
    transition-timing-function: ease;
    color: #fff;
    box-shadow: 1px 1px 4px rgba(255, 148, 119, .5);
    -moz-box-shadow: 1px 1px 4px rgba(255, 148, 119, .5);
    -webkit-box-shadow: 1px 1px 4px rgba(255, 148, 119, .5);
}

#mojeFirma {
    min-height: 10px;
    box-shadow: rgb(0 0 0 / 0.2) 0px 0px 30px;
    background-color: #242423;
    border-left: 10px solid rgba(119, 255, 148, .8);
    margin: auto;
    margin-bottom: 5%;
    position: relative;
    width: 80%;
    padding: 5px;
}

#naseHry h2,
#mojeFirma h2 {
    border-bottom: 2px solid #E8EDDF;
    font-size: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #ff9477;
    margin: 10px;
}

#mojeFirma p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: justify;
    color: #E8EDDF;
    margin: 15px;
}

#naseHry p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #E8EDDF;
    margin: 15px;
}

#Aktualizace h2,
#Novinky h2,
#Dv h2 {
    border-bottom: 2px solid #E8EDDF;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #ff9477;
    margin: 10px;
}

#Aktualizace p,
#Novinky p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #E8EDDF;
    margin: 15px;
}

#Dv p {
    max-width: 43%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #E8EDDF;
    margin: 15px;
}

#Dv img {
    float: right;
}

#navig {
    position: absolute;
    bottom: 0;
    margin-bottom: 7%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#Obsah {
    background-color: #2A2D43;
    position: absolute;
    min-height: 85%;
    width: 100%;
    top: 10%;
    margin-top: 5%;
}

#naseHry {
    min-height: 10px;
    box-shadow: 1px 1px 4px rgba(119, 255, 148, .3);
    -moz-box-shadow: 1px 1px 4px rgba(119, 255, 148, .3);
    -webkit-box-shadow: 1px 1px 4px rgba(119, 255, 148, .3);
    background-color: #242423;
    border-left: 10px solid rgba(119, 255, 148, .8);
    margin: auto;
    margin-bottom: 5%;
    position: relative;
    width: 50%;
    padding: 5px;
}

#Aktualizace {
    box-shadow: rgba(119, 255, 148, .3) 2px 2px 3px 1px;
    background-color: #242423;
    border-left: 10px solid rgba(119, 255, 148, .8);
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    float: left;
    width: 50%;
    height: 30%;
}

#Novinky {
    box-shadow: rgba(119, 255, 148, .3) 2px 2px 3px 1px;
    background-color: #242423;
    border-left: 10px solid rgba(119, 255, 148, .8);
    margin-right: 10%;
    margin-top: 5%;
    position: relative;
    float: right;
    width: 20%;
    height: 80%;
}

#Dv {
    box-shadow: rgba(119, 255, 148, .3) 2px 2px 3px 1px;
    background-color: #242423;
    border-left: 10px solid rgba(119, 255, 148, .8);
    margin-left: 10%;
    margin-top: 11.3%;
    position: relative;
    float: left;
    width: 50%;
    height: 30%;
}

.formular {
    position: relative;
    margin: auto;
}

.kruznice {
    background-color: #77FF94;
    position: relative;
    box-shadow: rgba(119, 255, 148, .3) 2px 2px 3px 1px;
    top: -900px;
    z-index: 5;
    margin: auto;
    margin-bottom: 0px;
    border: 1px;
    border-radius: 100%;
    width: 1000px;
    height: 1000px;
}

html,
body {
    height: 100%;
}

body {
    background-image: url("https://cdn.mos.cms.futurecdn.net/xRYcm5EJmoYY8Yr9YPYgzX.jpg ");
}

div.content {
    opacity: 97%;
    height: 100%;
    position: relative;
    width: 75%;
    margin: 0 auto;
    background-color: #2A2D43;
}

nav.primary-navigation {
    z-index: 10;
    margin: 0 auto;
    display: block;
    padding: 120px 0 0 0;
    text-align: center;
    font-size: 16px;
}

nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}
nav.primary-navigation ul li:nth-child(2) {
  border-left: 2px solid #ff9477;
}
nav.primary-navigation ul li:nth-child(3) {
  border-left: 2px solid #ff9477;
}

nav.primary-navigation li a {
    color: #666;
}

nav.primary-navigation li a.strankaNyni {
    color: #ff9477;
}
nav.primary-navigation li a:hover {
    color: #ff9477;
}

nav.primary-navigation li:hover {
    cursor: pointer;
}

nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: white;
}

nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}

nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid #ff9477;
    transition: all 0.3s ease;
}

a {
  font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}

a:hover {
    color: #ff9477;
}

ul li ul li a {
    transition: all 0.5s ease;
}